<section id="services" class="services">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Services</h2>
      <p>Layanan yang tersedia saat ini</p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
           <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">Full Stack Developer</a></h4>
          <p class="description">Pembuatan aplikasi website, android dan destop secara custom sesuai dengan kebutuhan bisnis anda</p>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
          <div class="icon"><i class="bx bx-cart"></i></div>
          <h4 class="title"><a href="">Company Profile dan Online Shop</a></h4>
          <p class="description">Jasa pembuatan website Company Profile (wordpress) dan Online Shop (Prestashop)</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
          <div class="icon"><i class="bx bx-chart"></i></div>
          <h4 class="title"><a href="">Internet Marketing</a></h4>
          <p class="description">Pembuatan Sosial Media Ads, API (Facebook, Instagram, Tiktok dsb)</p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Internet service</a></h4>
          <p class="description">Setup dan Maintenance Server (Shared Hosting, VPS dsb)</p>
        </div>
      </div>
    </div>

  </div>
</section>