<section id="more-services" class="more-services">
  <div class="container">

    <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
        <div class="card" style='background-image: url("assets/img/sijamsos_mojokertokab_go_id.png");' data-aos="fade-up" data-aos-delay="100">
          <div class="card-body">
            <h5 class="card-title"><a href="">SIM Instansi </a></h5>
            <p class="card-text">Website Sakip, Bansos, Arsip Surat, dsb</p>                
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div class="card" style='background-image: url("assets/img/Online_Shop_Prestashop.png");' data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <h5 class="card-title"><a href="">Wordpress dan Prestashop</a></h5>
            <p class="card-text">Website Custom Company Profile dan Online Shop</p>
           
          </div>
        </div>
      </div>   
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("assets/img/SisLab_Klinik.png");' data-aos="fade-up" data-aos-delay="100">
          <div class="card-body">
            <h5 class="card-title"><a href="">SIM Lab</a></h5>
            <p class="card-text">Website Sistem Informasi Laboratorium Klinik.</p>
            
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div class="card" style='background-image: url("assets/img/more-services-4.jpg");' data-aos="fade-up" data-aos-delay="200">
          <div class="card-body">
            <h5 class="card-title"><a href="">Ujian Online</a></h5>
            <p class="card-text">Website Tryout dan Ujian Online (CAT, Papikostick, TOEFL)</p>
           
          </div>
        </div>
      </div>
    </div>

  </div>
</section>