<section id="about" class="about section-style">
  <div class="container">

    <div class="section-title" data-aos="fade-up">
      <h2>Tentang Kami</h2>
    </div>

    <div class="row content">
      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="150">
        <p>
          Kami adalah tim profesional yang berpengalaman di bidangnya. Kepuasan pelanggan adalah prioritas kami. 
        </p>
        <ul>
          <li><i class="ri-check-double-line"></i> Pembuatan dan Pengembangan Aplikasi (Desktop, Website, Android)</li>
          <li><i class="ri-check-double-line"></i> Instalasi dan Maintenance (Server, CCTV, Jaringan RT/RW)</li>
          <li><i class="ri-check-double-line"></i> Design Grafis dan Internet Marketing  (Logo, Video Editing, Sosmed)</li>
        </ul>
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0" data-aos="fade-up" data-aos-delay="300">
        <p>
          Jika ada permasalahan tentang Software, Jaringan maupun Publikasi. Silahkan berkonsultasi dengan kami. 
        </p>
        <a href="#contact" class="btn-learn-more">Hubungi Kami</a>
      </div>
    </div>

  </div>
</section>